
{% extends 'base.html' %}

  {% block container %}

    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ data.departures[direction] }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ dir_from|length }}</span> туров, от <span data-test="pricemin">{{ prices|min }}</span> до <span data-test="pricemax">{{ prices|max }}</span> и от <span data-test="nightsmax">{{ nights|min }}</span> ночей до <span data-test="nightsmax">{{ nights|max }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">
        
        {% for item in dir_from %}

        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ data.tours[item].picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ data.tours[item].title }}</h5>
             <p class="card-text">{{ data.tours[item].description }}</p>
                <a href="/tour/{{ item }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>    
        
        {% endfor %}

 {% endblock %}